.pub {
    overflow: hidden;
}

.container-fluid .assignments{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.cointainer-fluid .assign{
    border-radius: 30px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 1px;
}

.row .col-2{
    text-align: right;
}

