.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules span.wd-list-under-weeks{
  padding-left: 2em;
}

.wd-modules i.fa-link{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.buttons {
  padding-left: 30em;
}

.buttons button.module{
  background-color: red;
  color: white;
}